doctype html
html
head
    meta
    | &#x9;&#x9;
    title Html file to Jade file: The converter
    | &#x9;&#x9;
    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    | &#x9;&#x9;
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    | &#x9;&#x9;
    script(type='text/javascript', src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    | &#x9;
  .container
    .jumbotron
      p.centered
        img.img-circle.img-responsive(src="/img/profilepicture.jpg", width="236", height="506")
      h1 HTML FILES 2 JADE FILES
      | &#x9;&#x9;&#x9;
      p.center
        | The converter you need, by a developer to developers, upload an HTML file and download a JADE file
    | &#x9;&#x9;
    form.form-inline(role='form', method='post', action='/convert', enctype='multipart/form-data')
      h3 Upload your Html file here:
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      .form-group
        div(class="over")
          a(class="link-upload") <h2 class="glyphicon glyphicon-cloud-upload"><small>Click here to upload your html file</small></h2>
        input(type='file', name="userFile", class="input-lg")
        | &#x9;&#x9;&#x9;&#x9;&#x9;
      .form-group
        button.btn.btn-default.glyphicon.glyphicon-cloud-upload.input-lg(type='submit', class="input-lg") Upload
    footer
      p
        a(href="http://www.github.com/alekaizer") Github 
        a(href="http://www.twitter.com/alekaizer") Twitter 
        a(href="https://www.npmjs.com/package/html2jade") html2jade
